.page
  font-family Ubuntu, Arial, Helvetica, sans-serif
  margin 0
  padding 0
  color #464646

  &__header
    max-width 1400px
    padding 0 22px
    margin 0 auto
    border-bottom solid 1px #eaeaea
    box-shadow 0 1px 1px 0 rgba(#000, 0.16)
    clearfix()

  &__logo
    float left
    margin 20px 0

  &__headline
    font-size 18px
    font-weight 400
    float left
    width 200px
    margin 20px 20px
    text-transform uppercase

  &__main-nav
    font-size 18px
    font-weight 400
    float right
    white-space nowrap
    margin 20px 20px
    text-transform uppercase

  &__main-link
    margin 0 1ex
    text-decoration none
    color #325A46
    transition color .3s

    &:hover
      color #21a649

  &__container
    min-height 100%

  &__footer
    font-size 13px
    max-width 1400px
    padding 0 22px 40px
    margin 100px auto 0
    border-top solid 1px #eaeaea
    box-shadow 0 -1px -1px 0 rgba(#000, 0.16)

    &-item
      margin-bottom 1em

    a:link
    a:visited
      color #325A46

  &__h2
    font-size 1.5em
    font-weight 500
    margin-bottom 0.5em

  &__h3
    font-size 1.2em
    font-weight 500
    margin-top 1em
    margin-bottom 0.5em
