.lesson-groups
  &_with-additional

    .lesson-groups__additional
      display block

    .lesson-groups__list
      display none
  &__additional
    display none


  &__toggle
    margin 0 1ex
    border-bottom dashed 1px
    cursor pointer
    color #999
    transition color .3s

    &:hover
      color #000
