@keyframes jump {
  0% {
    transform scaleY(0.7)
  }
  50% {
    transform scaleY(1.0)
  }
  80% {
    transform scaleY(0.9)
  }
  100% {
    transform scaleY(1.0)
  }
}

@keyframes jump-horizontal {
  0% {
    transform scaleX(0.7)
  }
  50% {
    transform scaleX(1.0)
  }
  80% {
    transform scaleX(0.9)
  }
  100% {
    transform scaleX(1.0)
  }
}
