@import "_mixins"
@import "_keyframes"
@import "page/page"
@import "logo/logo"
@import "switcher/switcher"
@import "faculty-list/faculty-list"
@import "faculty/faculty"
@import "groups-list/groups-list"
@import "schedule-page/schedule-page"
@import "schedule/schedule"
@import "lesson/lesson"
@import "lesson-groups/lesson-groups"
@import "letters-nav/letters-nav"
@import "search-result/search-result"
